:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#container-menu {
    border: 3px solid green;
    padding: 100px;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
}

#container-menu:hover #menu {
    background-color: white;
    transition: 0.1s;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: .3s ease-in-out;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    transition: .3s ease-in-out;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    bottom: -20px;
}

#container-menu:hover #menu::before {
    top: 0px;
    transform: rotate(45deg);
    transition: .3s ease-in-out;
}

#container-menu:hover #menu::after {
    bottom: 0px;
    transform: rotate(-45deg);
    transition: .3s ease-in-out;
}

